---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideBar from '../components/sidebar.astro'
import Card from "../components/cards.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

const alleventcards: CollectionEntry<'events'>[] = await getCollection('events');
---

<BaseLayout title="Events | Blithcron'24">
  <main class="flex">
    <SideBar page_tilte = 'EVENTS' page_desc = "Blithchron '24 presents to you these amazing events" />

    <div class="px-10 w-3/4 h-screen ms-60 mt-10 flex-auto flex-col">

      <h1 class="font-semibold m-10 p-5 text-4xl" style="text-align: center;">UPCOMING EVENTS</h1>

      <div class="grid grid-cols-2 gap-x-10 gap-y-20">
        {alleventcards.map(events => (
          <Card event_title = {events.data.title} img ={events.data.image} desc = {events.data.description}/>
        ) )}
      </div>
    </div>
  </main>
</BaseLayout>
