
<style>
    .container{
        background: linear-gradient( 0deg,
      rgb(67, 222, 157),
      rgb(102, 154, 233),
      rgb(6, 96, 156));
       display: flex;
        height: 200px;
        width: 100vw;
        color: white;
    }
</style>

<div class="container">
    <div class="connection">
        <div class="heading">Connect with us</div>
        <div class="grid">
            <a href="http://"></a>
            <a href="http://"></a>
            <a href="http://"></a>
            <a href="http://"></a>
        </div>
    </div>

    <div class="navigate">
        <div class="heading">Navigate</div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Sponsors</a></li>
            <li><a href="">Our Team</a></li>
        </ul>
    </div>
    
    <div class="our-app">
        <div class="heading">Our App</div>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</div>