
<style>
    .footer-container{
        background: linear-gradient(#60a3dd, #43dc9f);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 200px;
        margin-inline-start: 25%;
        width: 75%;
        color: white;
        /* position: relative;
        bottom: 0;
        left: 0; */
    }

    .grid{
        display: grid;
        grid-template-columns: 100px 100px;
        gap: 50px 0px;
    }

    .heading{
        font-size: 1.25rem;
        font-weight: bold;
    }

    .columns{
        height: 150px;
        text-align: center;
    }

    ul li{
        margin: 5px;
    }

    .ver{
        height: 150px;
        width: 2px;
        background-color: white;
    }
</style>

<div class="footer-container">
    <div class="columns">
        <div class="heading">Connect with us</div>
        <div class="grid">
            <a href="">Insta</a>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Whatsapp</a>
        </div>
    </div>
    <div class="ver"></div>
    <div class="columns">
        <div class="heading">Navigate</div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Sponsors</a></li>
            <li><a href="">Our Team</a></li>
        </ul>
    </div>
    
    <div class="ver"></div>
    <div class="columns">
        <div class="heading">Our App</div>
        <ul>
            <li><a href="">Prajas</a></li>
            <li><a href="">Kulkarni</a></li>
        </ul>
    </div>
</div>